@using System.Web
@model IEnumerable<WebSecurity.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var comment in Model)
{
    <div class="comment">
        <div class="content">@Html.Raw(comment.Content)</div>
        <div class="text-muted">@comment.TimeStamp</div>
    </div>
    
}
